
* {margin:0;padding:0}
.name {
  font-size:25px;
  padding-bottom:30px;
}
@media(min-width:1200px){
.container-fluid {
  max-width:970px;
}
}
.columns {
  text-align:center;
}
.checkbox-size {
height:18px;
width:18px;
}
.green {
background-color:#dff0d8 !important;
}
